#cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #030304 transparent #030304 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

#loader-container {
    width: 100%;
    height: calc(100vh - 7em);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:7em;
    background: #FFF;
    z-index: 1;
}

@keyframes spin-anim {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

h1 {
    text-align: center;
    padding: 1em;
}